@import '../abstracts/variables';

// hamburger menu
.hamburger-menu {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 2rem;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 2rem;
  z-index: 30;
}

.hamburger-menu:focus {
  outline-color: transparent;
}

.hamburger-menu-burger {
  background-color: var(--color-text-primary);
  display: flex;
  height: 0.2rem;
  transition: all 0.5s ease-in-out;
  width: 2rem;
}

.hamburger-menu-burger::before,
.hamburger-menu-burger::after {
  background-color: var(--color-text-primary);
  content: '';
  height: 0.2rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
  width: 2rem;
}

.hamburger-menu-burger::before {
  transform: translateY(-0.6rem);
}

.hamburger-menu-burger::after {
  transform: translateY(0.6rem);
}

.hamburger-menu.open .hamburger-menu-burger {
  background-color: transparent;
  transform: translateX(-3.1rem);
}

.hamburger-menu.open .hamburger-menu-burger::before {
  background-color: $white;
  transform: rotate(45deg) translate(2.2rem, -2.2rem);
}

.hamburger-menu.open .hamburger-menu-burger::after {
  background-color: $white;
  transform: rotate(-45deg) translate(2.2rem, 2.2rem);
}
