@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../components/ThemeProvider/ThemeProvider';
@import '../components/Gallery/lazyload.scss';
@import 'components/hamburgerMenu';

html {
  font-size: 18px;
  height: 100%;
}

body,
#root {
  height: 100%;
}

// sticky footer
.main {
  flex: 1 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
}

.arrow-icon {
  bottom: 1px;
  right: 15px;
}

@media only screen and (min-width: 1280px) {
  .arrow-icon {
    transition: all 300ms ease-in-out;
  }

  .button-primary {
    &:hover .arrow-icon {
      right: 10px;
    }
  }
}

// landscape mobile screen orientation
.nav-mobile {
  flex-direction: row;
  justify-content: space-between;
  &-wrapper {
    padding: 6rem 2rem;
  }
  &-item {
    margin: 0 1rem;
  }
}

@media only screen and (min-height: 420px) {
  .nav-mobile {
    flex-direction: column;
    &-wrapper {
      padding: 6rem;
    }
  }
}
