:root {
  @apply .light;
}

.dark {
  --color-bg-primary: #222831;
  --color-bg-secondary: #393e46;
  --color-text-primary: #eeeeee;
  --color-text-secondary: #eeeeee;
}

.light {
  --color-bg-primary: #eeeeee;
  --color-bg-secondary: #000000;
  --color-text-primary: #000000;
  --color-text-secondary: #eeeeee;
}
